.teste {
    background-color: #282828;
    color: white;
    font-family: "Segoe UI Light"
}
hr {
    background-color: #EEE;
}

header , footer {
    width: 100%;
    background-color:  #80ff80;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2rem;
}

header .logo {
    width: 115px;
    height: 40px;
    background: url(../img/Logo.png) left center / 115px no-repeat;
    margin-top: 12px;
    margin-left: 15px;
    cursor: pointer;
}

header .busca {
    margin-top: 12px;
}

#btnPesquisa {
    color: #8eff01;
    background-color: white;

}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.carousel-item,  .carousel-item active{
    max-height: 25em;
}

.carousel-img {
    display: block;
    width: 100%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #282828;
    font-size: 14px;
    overflow: auto;
}

.container_cards {
    padding: 1px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 270px;
  margin: 5px;
  text-align: left;
  padding: 5px;
  float: left;
  color: #282828;
  font-size: 12px;
}

.card h4 {
    font-weight: bold;
    margin-top: 10px;
}

.card img {
    max-width:258px;
    max-height:188px;
}

.price {
  color: green;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: #80ff80;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.card button:hover {
  opacity: 0.7;
}

footer p {
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    margin-top: 30px;
    color: black;
}